<div class="sidenav">
  <a>ToDo</a>
  <a [routerLink]="['../posts']">Posts</a>
  <a [routerLink]="['../album']">Album</a>
  <a [routerLink]="['../movies']">Movie</a>

</div>
<div class="main" *ngIf="tasks">
  <mat-card><form>
    <input type="text" id="newTaskId" name="newTask" />
    <button type="submit" (click)="newTask()"> New Task </button>
  </form></mat-card>
  
  <ul>
    <li *ngFor="let task of tasks">
      <div class="task">
        <mat-card
          (click)="done(task)"
          [ngClass]="{ 'completed-task': task.completed }"
        >
          <mat-card-content>
            {{ task.title }} <br />
            TaskID: {{ task.id }} UserID: {{ task.userId }}
          </mat-card-content>
        </mat-card>
        <br />
      </div>
    </li>
  </ul>
</div>
