<h2>Register</h2>
<!-- <form (submit)="onRegister(email.value, password.value)"> -->
  <form [formGroup]="applyForm" (submit)="onRegister()">
  <div>
    <label>Email:</label>
    <input type="email" #email required />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" #password required />
  </div>
  <div>
    <label>Email:</label>
    <input type="name" #email required />
  </div>
  <div>
    <label>Password:</label>
    <input type="job" #password required />
  </div>
  <button type="submit" [routerLink]="['']" [disabled]="!applyForm.valid">Register</button>
  <button type="submit" [routerLink]="['']" >Register</button>
</form>
