<div class="sidenav">
  <a [routerLink]="['../todo']">ToDo</a>
  <a [routerLink]="['../posts']">Posts</a>
  <a>Album</a>
</div>

<div class="main" *ngIf="albums">
  <ul>
    <li *ngFor="let album of albums">
      <div class="post">
        <mat-card>
          <mat-card-title>{{ album.title }}</mat-card-title>
          <mat-card-subtitle>
            TaskID: {{ album.id }} UserID: {{ album.userId }}
          </mat-card-subtitle>
          <mat-card-content>
            <div *ngIf="album.photos">
              <div class="thumbnails-container">
                <div *ngFor="let photo of album.photos">
                  <img
                    [src]="photo.thumbnailUrl"
                    alt="{{ photo.title }}"
                    (click)="openImage(photo.url)"
                  />
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </li>
  </ul>
</div>
