<!-- <form action="action_page.php" method="post"> -->

<h2>Login</h2>
<form (submit)="onLogin(email.value, password.value)">
  <div>
    <label>Email:</label>
    <input type="email" #email required />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" #password required />
  </div>
  <button type="submit" [routerLink]="['./todo']">Login</button>

  <div class="container" style="background-color: #f1f1f1">
    <h3>New User?</h3>
    <a class="nav-link" [routerLink]="['./register']">Register</a> <br />
  </div>
</form>
