<form action="action_page.php" method="post">
  <!-- <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->

  <div class="container">
    <label for="email">Email </label>
    <input
      id="email"
      type="text"
      formControlName="email"
      placeholder="Enter Email"
      required
    />

    <label for="password">Password </label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Enter Password"
      required
    />

    <!-- <button type="submit">Login</button> -->
    <button type="submit" [routerLink]="['./todo']">Login</button>
  </div>

  <div class="container" style="background-color: #f1f1f1">
    <h3>New User?</h3>
    <a class="nav-link" [routerLink]="['./register']">Register</a> <br />
  </div>
</form>


<!-- form.addEventListener("submit", function(e){
  e.preventDefault();
  fetch("https://reqres.in/api/login", {
      method: 'POST',
      headers : {"Content-Type": "application/json"} ,
      body: JSON.stringify({
          "email":"eve.holt@reqres.in",
          "password":"cityslicka"
      })
  })
  .then(res => res.json())
  .then(data => console.log(data))
}) -->
