<div class="sidenav">
  <a [routerLink]="['../todo']">ToDo</a>
  <a>Posts</a>
  <a [routerLink]="['../album']">Album</a>
</div>
<div class="main" *ngIf="posts">
  <ul>
    <li *ngFor="let post of posts">
      <div class="post">
        <mat-card [routerLink]="['/', post.id, 'comments']"> 
          <mat-card-title> {{ post.title }} </mat-card-title>
          <mat-card-subtitle>
            PostID: {{ post.id }} UserID: {{ post.userId }}
          </mat-card-subtitle>
          <mat-card-content>
            {{ post.body }}
          </mat-card-content>
        </mat-card>
        <br />
      </div>
    </li>
  </ul>
</div>
