<div class="sidenav">
  <a [routerLink]="['../todo']">ToDo</a>
  <a>Posts</a>
  <a [routerLink]="['../album']">Album</a>
  <a [routerLink]="['../movies']">Movie</a>
</div>

<div class="main">
  <ul>
    <li *ngFor="let movie of movies | slice : 0 : 5">
      <div class="movies">
        <mat-card>
          <mat-card-title>{{ movie.title }}</mat-card-title>
          <mat-card-subtitle>{{ movie.released }}</mat-card-subtitle>
          <mat-card-content>{{ movie.plot }}</mat-card-content>
        </mat-card>
      </div>
    </li>
  </ul>
</div>
<!-- <div class="main">
  <ul>
    <li *ngFor="let comment of comments | slice : 0 : 5">
      <div class="comments">
        <mat-card>
          <mat-card-title>{{ comment.name }}</mat-card-title>
          <mat-card-subtitle>{{ comment.date }}</mat-card-subtitle>
          <mat-card-content>{{ comment.text }} </mat-card-content>
        </mat-card>
      </div>
    </li>
  </ul>
</div> -->
